
/*=====================================
first background*/

#bg-1{
	background-image: url('https://www.youtube.com/embed/tgbNymZ7vqY');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 650px;
}
/*first background
==================================
navigation*/
.nav{
    border-bottom: 1px solid black;
}

/*navigation
=================================
 section1  about us */
.about-container{
	font-size: 27px;
	color: #000000;
	line-height: 0.6;
}
hr {
    border: 0;
    height: 1px;
    background:rgb(187, 179, 179);
}

.poto1{
	width: 100%;
	max-width: 500px;
}
.text1{
	padding-left: 60px;
	line-height:1.2;
	text-align: justify;
	box-sizing: border-box;
}
.indicator {
 cursor: pointer;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px!important;
  height: 15px!important;
  border-radius: 50%;
  border: 3px solid!important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgb(255, 255, 255, 0.5);
}

/* section1 about us
===================================
section 2 our works*/
.our-works-poto{
	max-width: 550px;
	width: 100%;
}
.see-more{
	border:1px solid black;
	padding: 5px 20px ;
	background-color: inherit;
	cursor: pointer;
}

/*section 2 our works
==================================
section 3 our staff*/
.staff img{
    max-width: 200px;
    width: 100%;
}

/*section 3 our staff
====================================
section 4 our  services*/
.service-poto img{
    width: 120px;
}

/*section 4 our services
=====================================
footer*/
.hr-1{
    border: 0;
    height: 1.5px;
    background:#555b61;
}
.text-form{
    height:120px;
}
/*footer
=====================================
media screen*/
@media  (max-width: 990px){
	.text1{
	padding-left: 15px;
	 line-height:1.2;
	 text-align: justify;
	}
}

/*media screen*/