body{
	overflow-x: hidden;
}
/*=====================================
first background*/

#bg-1{
	position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
   object-fit: cover;
}

/*first background
==================================
navigation*/
.nav{
    border-bottom: 2px solid black;
}

/*navigation
=================================
 section1  about us */
.about-container{
	font-size: 14px;
	color: #000000;
	text-align: justify;
}
hr {
    border: 0;
    height: 1px;
    background:rgb(187, 179, 179);
}

.poto1{
	width: 100%;
	max-width: 500px;
}

.indicator {
 cursor: pointer;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px!important;
  height: 15px!important;
  border-radius: 50%;
  border: 3px solid!important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgb(255, 255, 255, 0.5);
}

/* section1 about us
===================================
section 2 our works*/
.our-works-poto{
	max-width: 550px;
	width: 100%;
}
.small-video {
	max-width: 340px;
	width: 100%;
	height: 200px;
}
.see-more{
	border:1px solid black;
	padding: 5px 20px ;
	background-color: inherit;
	cursor: pointer;
}

/*section 2 our works
==================================
section 3 our staff*/
.staff img{
    max-width: 200px;
    width: 100%;
    cursor: pointer;
}
.more-info{
	opacity: 0;
}

.staff:hover .more-info {
	opacity: 1;
	}

/*section 3 our staff
====================================
section 4 our  services*/
.service-poto img{
    width: 120px;
}


/*section 4 our services
=====================================
footer*/
.hr-1{
    border: 0;
    height: 1.5px;
    background:#555b61;
}
.social-icons:hover{
	color: #08a0e9;
}
.social-icons1:hover{
	color: #3b5998;
}
.social-icons2:hover{
	color: #dd2a78;
}
.text-form{
	height: 150px;
}

/*footer
=====================================
media screen*/
@media  (max-width: 990px){
	.text1{
	padding-left: 15px;
	 line-height:1.2;
	 text-align: justify;
	}
}
@media  (max-width: 770px){
.small-video {
	max-width: 640px;
	height: 350;

}
}

/*media screen*/