/*first background*/
.bg-1{
	background-image: url('../image/bg-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 650px;
}
/*first background*/

/* section1  our  */
.about-container{
	font-size: 27px;
	border: 3px solid black;
	font-weight: 700;
	color: #000000;
	
	line-height: 0.6;
	z-index:2;
}
.padding-top{
	padding-top:10%;
}
.poto1{
	width: 100%;
	max-width: 500px;
}
.text1{
	padding-left: 60px;
	line-height:1.2;
	text-align: justify;
	box-sizing: border-box;
}
.indicator {
 cursor: pointer;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px!important;
  height: 15px!important;
  border-radius: 50%;
  border: 3px solid!important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgb(255, 255, 255, 0.5);
}

/* section1 about us*/

/*section 2 our works*/
.bg-2{
	background-color: #B3B3B3;
}
.our-works-poto{
	max-width: 550px;
	width: 100%;
}
.see-more{
	border:2px solid#ffffff;
	padding: 10px 50px;
}

/*section 2 our works*/
@media  (max-width: 990px){
	.padding-top{
	padding-top:12%;
	}
	.text1{
	padding-left: 15px;
	 line-height:1.2;
	 text-align: justify;
	}
}